---
# tasks file for local_administrators

- name: 'Add local administrators hosts'
  ansible.builtin.set_fact:
    local_administrators_defaults: '{{ var_default | union(var_hosts) }}'
  when: local_administrators_hosts is defined
  vars:
    var_default: '{{ local_administrators_defaults }}'
    var_hosts: '{{ local_administrators_hosts }}'
  tags:
    - configuration

- name: 'Add local administrators group'
  ansible.builtin.set_fact:
    local_administrators_defaults: '{{ var_default | union(var_groups) }}'
  when: local_administrators_groups is defined
  vars:
    var_default: '{{ local_administrators_defaults }}'
    var_groups: '{{ local_administrators_groups }}'
  tags:
    - configuration

- name: 'Windows : Add to local Administrators'
  ansible.windows.win_group_membership:
    name: '{{ local_administrators_group }}'
    members:
      - '{{ local_administrators_defaults }}'
    state: "{{ 'pure' if local_administrators_pure_enable else 'present' }}"
  tags:
    - configuration
