---
# tasks file for onedrive

- name: 'Remove Onedrive'
  when: onedrive_remove
  block:
    - name: 'Set facts'
      ansible.builtin.set_fact:
        onedrive_disable: true

    - name: 'Check if installed x86'
      ansible.windows.win_stat:
        path: C:\\Windows\\System32\\OneDriveSetup.exe
      register: onedrive_register_x86

    - name: 'Uninstall OneDrive x86'
      become: true
      become_user: SYSTEM
      become_method: ansible.builtin.runas
      ansible.windows.win_shell: "C:\\Windows\\System32\\OneDriveSetup.exe /uninstall"
      when: onedrive_register_x86.stat.exists | bool

    - name: 'Check if Onedrive installed x64'
      ansible.windows.win_stat:
        path: C:\\Windows\\SysWOW64\\OneDriveSetup.exe
      register: onedrive_register_x64

    - name: 'Uninstall OneDrive x64'
      become: true
      become_user: SYSTEM
      become_method: ansible.builtin.runas
      ansible.windows.win_shell: "C:\\Windows\\SysWOW64\\OneDriveSetup.exe /uninstall"
      when: onedrive_register_x64.stat.exists | bool


- name: 'Enable OneDrive'
  when: onedrive_disable | bool
  block:
    - name: OneDrive Policies
      ansible.windows.win_regedit:
        path: HKLM:\SOFTWARE\Policies\Microsoft\Windows\OneDrive
        name: DisableFileSyncNGSC
        data: "{{ '00000001' if onedrive_disable else '00000000' }}"
        type: dword

    - name: OneDrive in Explorer
      ansible.windows.win_regedit:
        path: HKCR:\CLSID\{018D5C66-4533-4307-9B53-224DE2ED1FE6}
        name: System.IsPinnedToNameSpaceTree
        data: "{{ '00000000' if onedrive_disable else '00000001' }}"
        type: dword

    - name: OneDrive in Explorer x64
      ansible.windows.win_regedit:
        path: HKCR:\Wow6432Node\CLSID\{018D5C66-4533-4307-9B53-224DE2ED1FE6}
        name: System.IsPinnedToNameSpaceTree
        data: "{{ '00000000' if onedrive_disable else '00000001' }}"
        type: dword
      when: ansible_architecture == "64-Bit"

    - name: OneDrive Start Menu in Default Profile
      ansible.windows.win_file:
        path: "C:\\Users\\Default\\AppData\\Roaming\\Microsoft\\Windows\\Start Menu\\Programs\\OneDrive.lnk"
        state: absent
