---
# tasks file for directories

- name: 'Create directory {{ directory.main }}'
  ansible.windows.win_file:
    path: '{{ directory.main }}'
    state: directory
  tags:
    - configuration

- name: 'Include directories'
  ansible.builtin.include_tasks: subdirectories.yml
  loop: '{{ directory.subdirectories }}'
  loop_control:
    loop_var: subdirectories
  when: directory.subdirectories is defined
  tags:
    - configuration
